<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- MainActivity ya trae el intent-filter LAUNCHER desde src/main; aquí solo
             se deshabilita el alias por defecto para no mostrar dos iconos en debug. -->
        <activity-alias
            android:name="com.iagentshub.app.MainActivity.default"
            android:enabled="false"
            tools:replace="android:enabled"/>
    </application>
</manifest>
